.tw-img-electric-fence {
  background-image: url(assets/icon-img/tw-img-electric-fence.png);
}
.tw-img-haikang {
  background-image: url(assets/icon-img/tw-img-haikang.png);
}
.tw-img-key-area {
  background-image: url(assets/icon-img/tw-img-key-area.png);
}
.tw-img-message {
  background-image: url(assets/icon-img/tw-img-message.png);
}
.tw-img-multiple-cars {
  background-image: url(assets/icon-img/tw-img-multiple-cars.png);
}
.tw-img-operation {
  background-image: url(assets/icon-img/tw-img-operation.png);
}
.tw-img-position {
  background-image: url(assets/icon-img/tw-img-position.png);
}
.tw-img-region {
  background-image: url(assets/icon-img/tw-img-region.png);
}
.tw-img-split-screen {
  background-image: url(assets/icon-img/tw-img-split-screen.png);
}
.tw-img-video {
  background-image: url(assets/icon-img/tw-img-video.png);
}
.tw-img-complaint-inquiry {
  background-image: url(assets/icon-img/tw-img-complaint-inquiry.png);
}
.tw-img-historical-track {
  background-image: url(assets/icon-img/tw-img-historical-track.png);
}
.tw-img-lost-search {
  background-image: url(assets/icon-img/tw-img-lost-search.png);
}
.tw-img-lost-search-b {
  background-image: url(assets/icon-img/tw-img-lost-search-b.png);
}
.tw-img-maintenance-records {
  background-image: url(assets/icon-img/tw-img-maintenance-records.png);
}
.tw-img-message-record {
  background-image: url(assets/icon-img/tw-img-message-record.png);
}
.tw-img-operate-daily {
  background-image: url(assets/icon-img/tw-img-operate-daily.png);
}
.tw-img-operate-monthly {
  background-image: url(assets/icon-img/tw-img-operate-monthly.png);
}
.tw-img-operate-record {
  background-image: url(assets/icon-img/tw-img-operate-record.png);
}
.tw-img-operational-data {
  background-image: url(assets/icon-img/tw-img-operational-data.png);
}
.tw-img-speed-curve {
  background-image: url(assets/icon-img/tw-img-speed-curve.png);
}
.tw-img-violation {
  background-image: url(assets/icon-img/tw-img-violation.png);
}
.tw-img-application-suspension {
  background-image: url(assets/icon-img/tw-img-application-suspension.png);
}
.tw-img-stop-statistics {
  background-image: url(assets/icon-img/tw-img-stop-statistics.png);
}
.tw-img-change-request {
  background-image: url(assets/icon-img/tw-img-change-request.png);
}
.tw-img-change-statistics {
  background-image: url(assets/icon-img/tw-img-change-statistics.png);
}
.tw-img-vehicle-online-statistics {
  background-image: url(assets/icon-img/tw-img-vehicle-online-statistics.png);
}
.tw-img-vehicle-group-manage {
  background-image: url(assets/icon-img/tw-img-vehicle-group-manage.png);
}
.tw-img-bicycle-mileage-statistics {
  background-image: url(assets/icon-img/tw-img-bicycle-mileage-statistics.png);
}
.tw-img-job-manage {
  background-image: url(assets/icon-img/tw-img-job-manage.png);
}
.tw-img-mileage-statistics {
  background-image: url(assets/icon-img/tw-img-mileage-statistics.png);
}
.tw-img-platform-usage-records {
  background-image: url(assets/icon-img/tw-img-platform-usage-records.png);
}
.tw-img-area-manage {
  background-image: url(assets/icon-img/tw-img-area-manage.png);
}
.tw-img-authority-manage {
  background-image: url(assets/icon-img/tw-img-authority-manage.png);
}
.tw-img-no-operational-vehicles {
  background-image: url(assets/icon-img/tw-img-no-operational-vehicles.png);
}
.tw-img-data-access-application {
  background-image: url(assets/icon-img/tw-img-data-access-application.png);
}
.tw-img-vehicles-not-online {
  background-image: url(assets/icon-img/tw-img-vehicles-not-online.png);
}
.tw-img-unlisted-vehicles {
  background-image: url(assets/icon-img/tw-img-unlisted-vehicles.png);
}
.tw-img-no-sign-check-out {
  background-image: url(assets/icon-img/tw-img-no-sign-check-out.png);
}
.tw-img-vehicles-without-operational-data {
  background-image: url(assets/icon-img/tw-img-vehicles-without-operational-data.png);
}
.tw-img-off-line-vehicles-operation {
  background-image: url(assets/icon-img/tw-img-off-line-vehicles-operation.png);
}
.tw-img-user-manage {
  background-image: url(assets/icon-img/tw-img-user-manage.png);
}
.tw-img-in-transfer-application {
  background-image: url(assets/icon-img/tw-img-in-transfer-application.png);
}
.tw-img-out-transfer-application {
  background-image: url(assets/icon-img/tw-img-out-transfer-application.png);
}
.tw-img-in-transfer-statistics {
  background-image: url(assets/icon-img/tw-img-in-transfer-statistics.png);
}
.tw-img-out-transfer-statistics {
  background-image: url(assets/icon-img/tw-img-out-transfer-statistics.png);
}
.tw-img-vehicle-group-user-manage {
  background-image: url(assets/icon-img/tw-img-vehicle-group-user-manage.png);
}
.tw-img-independent-vehicle-group-manage {
  background-image: url(assets/icon-img/tw-img-independent-vehicle-group-manage.png);
}
.tw-img-load-factor-statistics {
  background-image: url(assets/icon-img/tw-img-load-factor-statistics.png);
}
.tw-img-no-aerial-vehicle-change {
  background-image: url(assets/icon-img/tw-img-no-aerial-vehicle-change.png);
}
