$margin: 10px;
$borderColor_default: #eeeeee;
$borderRadius: 4px;
@mixin borderShadow() {
  border: 1px solid $borderColor_default;
  border-radius: $borderRadius;
  box-shadow: 2px 2px 12px rgba(102, 102, 102, 0.5);
}

@mixin border-color {
  &--primary {
    border-color: #409eff;
  }
  &--success {
    border-color: #85ce61;
  }
  &--info {
    border-color: #dcdfe6;
  }
  &--warning {
    border-color: #e6a23c;
  }
  &--danger {
    border-color: #f56c6c;
  }
}
